<swiper #swiperFaded
[loop]="true" [allowTouchMove]="true" [autoplay]="{ delay: 7000, disableOnInteraction: false }" [speed]="2000" effect="fade">
  <ng-template swiperSlide>
    <figure><img [src]="TEAMWORK1" alt="" /></figure>
  </ng-template>
  <!-- <ng-template swiperSlide>
    <figure><img [src]="TEAMWORK2" alt="" /></figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure><img [src]="TEAMWORK3" alt="" /></figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure><img [src]="TEAMWORK4" alt="" /></figure>
  </ng-template> -->
</swiper>
